@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.hidden {
    display: none;
}

.height-key {
    height: 100% !important;
}

html, body, .container {
    height: 100%;
}

body {
    font-family: 'Pretendard-Regular';
}

.container {
    display: flex;
    flex-direction: column;
}

/* header */
.top {
    width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

/* header login */
.login-box {
    padding: 10px 0;
}

.login-form {
    position: relative;
}

.login-form > input {
    width: 156px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid black;
}

.login-form > input:focus {
    outline: none;
}

.login-form > button {
    width: 21px;
    height: 21px;
    position: absolute;
    right: 1px;
    bottom: 4.5px;
    padding: 0 0 2px 0;
    border: 1px solid black;
    border-radius: 50%;
    font-weight: 600;
    font-size: 0.8rem;
    background: white;
    cursor: pointer;
    transition: all 0.5s linear;
}

.login-form > button:hover {
    color: white;
    border: 0;
    background: #0085ff;
}

.name-box {
    padding: 14.98px 0;
}

.name-point {
    font-weight: 600;
    color: #0085ff;
}

/* header clock */
.clock-box {
    display: flex;
    align-items: center;
}

.clock-box > p {
    font-size: 1.2rem;
    font-weight: 600;
}

/* header weather */
.weather-box {
    display: flex;
    align-items: center;
}

.weather-img {
    width: 40px;
}

.weather-con-1 {
    padding-right: 7px;
    font-weight: 600;
}

.weather-con-2 {
    padding-top: 3px;
    font-size: 0.9rem;
}

/* section */
section {
    width: 1280px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    flex: 1;
}

.main {
    width: 965.17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    transition: all 1s ease;
}

.main-txt {
    font-size: 8.5rem;
    font-weight: 900;
}

.main-txt-1 > span {
    font-family: 'Nanum Myeongjo', serif;
    color: #0085ff;
}

.main-txt-2 {
    text-align: right;
}

.todo-box, .fortune-box, .diary-box {
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    background: #ffffff78;
    backdrop-filter: blur(10px);
}

.todo-title, .fortune-title, .diary-title {
    padding: 18px;
    font-weight: 600;
}

.diary-form > button > img, .todo-form > button > img {
    width: 23px;
    transition: all 0.5s ease;
}

.diary-form > button > img:hover, .todo-form > button > img:hover {
    transform: rotate(90deg);
}

/* section todo */
.todo-box {
    width: 400px;
    height: 390px;
    position: absolute;
    top: 30px;
    right: 50px;
}

.todo-form {
    padding: 0 18px 18px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-form > input {
    width: 305px;
    height: 21px;
    padding: 5px 13px 3px 13px;
    border: 1px solid #d0d0d0;
    border-radius: 23px;
    background: #f1f1f1;
    font-family: 'Pretendard-Regular';
}

.todo-form > input:focus {
    outline: none;
}

.todo-form > button {
    height: 22.99px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.todo-list {
    height: 237.04px;
    padding: 16px 16px 0 16px;
    overflow: scroll;
}

.todo-list::-webkit-scrollbar {
    display: none;
}

.todo-list > li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.todo-list > li > span {
    padding-top: 3px;
}

.todo-list > li > button {
    width: 23px;
    height: 23px;
    padding-top: 2.5px;
    border: 1px solid #ff185c;
    border-radius: 50%;
    color: #ff185c;
    background: white;
    cursor: pointer;
    transition: all 0.2s linear;
}

.todo-list > li > button:hover {
    color: white;
    background: #ff185c;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 13px;
    background: linear-gradient(to bottom, #0000000d, #ffffff00);
}

/* section fortune */
.fortune-box {
    width: 240px;
    height: 300px;
    position: absolute;
    top: 30px;
    right: 470px;
}

.fortune-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fortune-main {
    width: 112px;
    background: radial-gradient(#6fbaff -20%, #ffffff00 60%, #ffffff00 40%) no-repeat;
    background-position: -3px -7px;
    background-size: 95px 95px;
}

.fortune-num {
    padding: 15px 0 33px 0;
    font-size: 4rem;
    text-align: center;
}

.fortune-color, .fortune-dir, .fortune-name {
    width: 130px;
    padding: 0 0 10px 0;
}

.fortune-color > span, .fortune-dir > span, .fortune-name > span {
    margin-right: 9px;
    background: #eaeaea;
}

/* section diary */
.diary-box {
    width: 385px;
    height: 375px;
    position: absolute;
    bottom: 30px;
}

.diary-form {
    padding: 0 18px 0 18px;
}

.diary-form > textarea {
    resize: none;
    width: 329.013px;
    height: 255px;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    background: #f1f1f1;
    font-family: 'Pretendard-Regular';
}

.diary-form > textarea::-webkit-scrollbar {
    width: 3px;
}

.diary-form > textarea::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(193, 193, 193);
}

.diary-form > textarea::-webkit-scrollbar-track {
    background: none;
}

.diary-form > textarea:focus {
    outline: none;
}

.diary-form > button {
    margin-top: 7px;
    padding: 0;
    float: right;
    border: 0;
    background: none;
    cursor: pointer;
}

.diary-con {
    padding: 0 18px 18px 18px;
}

.diary-con > button {
    width: 43px;
    height: 23px;
    position: absolute;
    bottom: 18px;
    border: 1px solid #ff185c;
    border-radius: 5px;
    font-size: 0.8rem;
    color: #ff185c;
    background: white;
    cursor: pointer;
    transition: all 0.2s linear;
}

.diary-con > button:hover {
    color: white;
    background: #ff185c;
}

.diary-inner {
    height: 240px;
    overflow: scroll;
}

.diary-inner::-webkit-scrollbar {
    width: 3px;
}

.diary-inner::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(193, 193, 193);
}

.diary-inner::-webkit-scrollbar-track {
    background: none;
}

@media (min-width: 769px) and (max-width: 1279px) {
    html, body, .container {
        height: 1180px;
    }

    /* header, section */
    .top, section {
        width: 769px;
    }

    /* section */
    .main {
        width: 735px;
    }

    .main-box-1 {
        display: flex;
    }

    .main-box-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    /* section todo */
    .todo-box {
        width: 500px;
        height: 460px;
    }

    .todo-form > input {
        width: 395px;
    }

    .todo-list {
        height: 329px;
    }

    /* section fortune */
    .fortune-box {
        top: unset;
        right: unset;
        bottom: 30px;
    }

    /* section diary */
    .diary-box {
        height: 425px;
        left: 320px;
    }

    .diary-form > textarea {
        height: 308px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    html, body, .container {
        height: 1180px;
    }

    /* header, section */
    .top, section {
        width: 481px;
    }

    /* section */
    .main {
        width: 450px;
        top: 39%;
    }

    .main-txt {
        text-align: center;
        font-size: 6.5rem;
    }

    /* section todo */
    .todo-box {
        height: 350px;
        right: unset;
    }

    .todo-list {
        height: 227.04px;
    }

    /* section fortune */
    .fortune-box {
        width: 386px;
        height: 180px;
        top: unset;
        right: 50px;
        bottom: 430px;
    }
    
    .gradient {
        left: 33px;
    }

    .fortune-con {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    html, body, .container {
        height: 1180px;
    }

    /* header, section */
    .top, section {
        width: calc(100% - 30px);
    }

    /* header */
    .top {
        padding: 15px 15px 0 15px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .clock-box {
        display: none;
    }

    /* section */
    section {
        padding: 0 15px 15px 15px;
    }

    .main {
        width: calc(100% - 30px);
        top: 40%;
    }

    .main-txt {
        font-size: 21vw;
        text-align: center;
    }

    /* section todo */
    .todo-box {
        width: calc(100% - 30px);
        height: 350px;
        top: 15px;
        right: unset;
    }

    .todo-form > input {
        width: 100%;
        margin-right: 15px;
    }

    .todo-list {
        height: 227.04px;
    }

    /* section fortune */
    .fortune-box {
        width: calc(100% - 30px);
        height: 180px;
        top: unset;
        right: unset;
        bottom: 385px;
    }

    .gradient {
        display: none;
    }

    .fortune-num {
        background: none;
    }

    .fortune-con {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* section diary */
    .diary-box {
        width: calc(100% - 30px);
        height: 335px;
    }

    .diary-form > textarea {
        width: calc(100% - 20px);
        height: 220px;
    }
}